// Variables
$brand-primary: #FFBF00;
$brand-secondary: #003363;
$brand-light: #EBEBEB;
$brand-dark: #242424;
$brand-alternate: #3A6EA5;
$brand-secondary-alt: #004E98;

$brand-grey: #C0C0C0;
$brand-grey-dark: #6c757d;
$brand-green-light: #C7EFE0;
