:root {
    --brand-primary: #FFBF00;
    --brand-secondary: #003363;
    --brand-light: #EBEBEB;
    --brand-dark: #242424;
    --brand-alternate: #3A6EA5;
    --brand-secondary-alt: #004E98;

    --brand-grey: #C0C0C0;
    --brand-grey-dark: #6c757d;

    --bs-body-bg: #003363;
}

html,
body {
    background-color: var(--brand-secondary);
    font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg-brand-secondary {
    background-color: var(--brand-secondary);
}

.bg-brand-light {
    background-color: var(--brand-light);
}

.text-grey {
    color: var(--brand-grey);
}

.text-grey-dark {
    color: var(--brand-grey-dark);
}

.text-brand-light {
    color: var(--brand-light);
}

.text-brand-secondary {
    color: var(--brand-secondary);
}

.hero {
    margin-top: 5rem;

    h2 {
        font-weight: 500;
    }
}

.btn-outline-brand-primary {
    color: var(--brand-primary) !important;
    border-color: var(--brand-primary) !important;

    &:hover,
    &:active {
        color: var(--brand-secondary) !important;
        border-color: var(--brand-primary) !important;
        background-color: var(--brand-primary) !important;
    }

    &:focus,
    &:focus-visible {
        box-shadow: 0 0 0 0.25rem var(--brand-dark);
    }
}

.btn-brand-primary {
    color: var(--brand-secondary) !important;
    background-color: var(--brand-primary) !important;

    &:hover,
    &:active {
        color: var(--brand-secondary) !important;
        background-color: var(--brand-primary) !important;
    }

    &:focus,
    &:focus-visible {
        color: var(--brand-secondary) !important;
        background-color: var(--brand-primary) !important;
        box-shadow: 0 0 0 0.25rem var(--brand-secondary);
    }
}

.btn-brand-secondary {
    background-color: var(--brand-secondary) !important;

    &:hover,
    &:active {
        background-color: var(--brand-secondary-alt) !important;
        border-color: var(--brand-secondary-alt) !important;
    }

    &:focus,
    &:focus-visible {
        background-color: var(--brand-secondary-alt) !important;
        border-color: var(--brand-secondary-alt) !important;
        box-shadow: 0 0 0 0.25rem var(--brand-dark);
    }
}

.navbar {
    --bs-navbar-nav-link-padding-x: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    .nav-link {
        --bs-nav-link-padding-y: 0.75rem;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--brand-light);

        &.active {
            color: var(--brand-grey);
        }

        &:hover {
            color: var(--brand-grey);
        }

        @media (min-width: 768px) {
            --bs-nav-link-padding-y: 0rem;
        }
    }
}

.navbar-toggler {
    border: none;
    color: var(--brand-grey);

    &.collapsed {
        color: var(--brand-light);
    }

    &:focus {
        box-shadow: none;
    }
}

.img-cover {
    width: 100% !important;
    height: 400px !important;
    object-fit: cover;
}

.page-section {
    padding: 8rem 0;
}

hr.divider {
    border-top: 0;
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: var(--brand-grey);
    opacity: 1;
}

.btn-social {
    color: var(--brand-light) !important;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;

    &:hover,
    &:active {
        color: var(--brand-grey) !important;
    }
}

#home {
    p {
        max-width: 900px;
    }
}

.card-item {
    object-fit: cover;
    border: 4px solid white;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 10px var(--brand-dark);

    .imageWrapper {
        height: 200px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left top;
        border-radius: 0.25rem 0.25rem 0rem 0rem;
    }
}

.card-caption {
    padding: 1.5rem 1.11rem;
    text-align: center;
    background-color: #fff;
    border-top: 2px solid #EBEBEB;

    a {
        color: var(--brand-secondary);
    }
}

.card-caption-heading {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.card-caption-subheading {
    text-align: start;
    margin-bottom: 0.5rem;
}

.card-caption-links,
.card-caption-attributes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-caption-attributes {
    font-family: var(--font-inter), SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    margin-bottom: 0.5rem;

    div {
        border: 2px solid var(--brand-grey);
        border-radius: 0.5rem;
        padding: 5px;
    }
}

.centerImage {
    object-position: top center !important;
}

.mainWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filterOptionsWrapper {
    select {
        padding: 5px;
        margin: 10px;
        width: 250px;

        @media (max-width: 330px) {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
    }
}

.gameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #EBEBEB;
    border-radius: 0.5rem;

    @media (max-width: 330px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.scoreWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.teamWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.logoWrapper {
    height: 100px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.gameDetailsWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.envDetailsWrapper {
    max-width: 75%;
}

.spreadDetailsWrapper {
    text-align: end;
}

footer a {
    color: inherit;

    &:hover,
    &:active {
        color: var(--brand-grey) !important;
    }
}
