:root {
    --brand-primary: #FFBF00;
    --brand-secondary: #003363;
    --brand-light: #EBEBEB;
    --brand-dark: #242424;
    --brand-alternate: #3A6EA5;
    --brand-secondary-alt: #004E98;

    --brand-grey: #C0C0C0;
    --brand-grey-dark: #6c757d;

    --bs-body-bg: #003363;

    --bs-body-font-size: 1.1rem;
}

html,
body {
    background-color: var(--brand-secondary);
    font-family: var(--font-outfit), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.bg-brand-secondary {
    background-color: var(--brand-secondary);
}

.bg-brand-light {
    background-color: var(--brand-light);
}

.text-grey {
    color: var(--brand-grey);
}

.text-grey-dark {
    color: var(--brand-grey-dark);
}

.text-brand-light {
    color: var(--brand-light);
}

.text-brand-secondary {
    color: var(--brand-secondary);
}

.btn-outline-brand-primary {
    color: var(--brand-primary) !important;
    border-color: var(--brand-primary) !important;

    &:hover,
    &:active {
        color: var(--brand-secondary) !important;
        border-color: var(--brand-primary) !important;
        background-color: var(--brand-primary) !important;
    }

    &:focus,
    &:focus-visible {
        box-shadow: 0 0 0 0.25rem var(--brand-dark);
    }
}

.btn-brand-primary {
    color: var(--brand-secondary) !important;
    background-color: var(--brand-primary) !important;

    &:hover,
    &:active {
        color: var(--brand-secondary) !important;
        background-color: var(--brand-primary) !important;
    }

    &:focus,
    &:focus-visible {
        color: var(--brand-secondary) !important;
        background-color: var(--brand-primary) !important;
        box-shadow: 0 0 0 0.25rem var(--brand-secondary);
    }
}

.btn-brand-secondary {
    background-color: var(--brand-secondary) !important;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.20), 0 10px 20px -2px rgba(0, 0, 0, 0.20);

    &:hover,
    &:active {
        background-color: var(--brand-secondary-alt) !important;
        border-color: var(--brand-secondary-alt) !important;
    }

    &:focus,
    &:focus-visible {
        background-color: var(--brand-secondary-alt) !important;
        border-color: var(--brand-secondary-alt) !important;
        box-shadow: 0 0 0 0.25rem var(--brand-dark);
    }
}

.navbar {
    --bs-navbar-nav-link-padding-x: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 0.75rem 0rem !important;

    .nav-link {
        --bs-nav-link-padding-y: 5px;
        font-weight: 600;
        font-size: 1.1rem;
        color: var(--brand-light);

        &.active {
            color: var(--brand-grey);
        }

        &:hover {
            color: var(--brand-grey);
        }

        &:first-of-type {
            padding-top: 15px;
        }

        &:last-of-type {
            padding-right: 0px;
        }

        @media (min-width: 576px) {
            --bs-nav-link-padding-y: 0rem;

            &:first-of-type {
                padding-top: inherit;
            }
        }
    }
}

.navbar-brand {
    font-size: 1.1rem !important;
    padding-top: 5px;
    padding-bottom: 5px;

    &:hover {
        color: var(--brand-grey);
    }
}

.navbar-toggler {
    border: none;
    color: var(--brand-grey);

    &.collapsed {
        color: var(--brand-light);
    }

    &:focus {
        box-shadow: none;
    }
}

.img-cover {
    width: 100% !important;
    height: 400px !important;
    object-fit: cover;
}

hr.divider {
    border-top: 0;
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: var(--brand-grey);
    opacity: 1;
}

.btn-social {
    color: var(--brand-light) !important;
    height: 2.5rem;
    width: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;

    &:hover,
    &:active {
        color: var(--brand-grey) !important;
    }
}

.centerImage {
    object-position: top center !important;
}

.heroIntro {
    @media (min-width: 992px) {
        max-width: 900px !important;
    }

    p {
        color: #30373D;
    }

    a {
        color: inherit;

        &:hover,
        &:active {
            color: var(--brand-grey-dark) !important;
        }
    }
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: var(--brand-secondary);
}

.mainWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filterOptionsWrapper {
    select {
        margin: 10px;
        width: 275px;

        @media (max-width: 360px) {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
    }
}

.gamesWrapper,
.teamsWrapper,
.messageWrapper {
    min-height: 20rem;
}

.gameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);

    @media (max-width: 767px) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .scoreWrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .teamWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        width: 50%;
    }

    .loser {
        color: #64717D;
    }

    .gameDetailsWrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 5px 5px 5px;
        color: #30373D;
    }

    .envDetailsWrapper {
        max-width: 70%;
    }

    .spreadDetailsWrapper {
        text-align: end;
    }
}

.teamCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 10px;
    background-color: #fff;
    border-radius: 0.75rem;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);

    @media (max-width: 767px) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .teamRecordsWrapper {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .teamRecordHeading {
        text-decoration: underline;
    }
}

.logoWrapper {
    height: 100px;
    width: 100px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

footer a {
    color: inherit;

    &:hover,
    &:active {
        color: var(--brand-grey) !important;
    }
}

.footerText {
    @media (min-width: 992px) {
        max-width: 900px !important;
    }
}
