@use "./global" as *;
@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    background-color: $brand-secondary;
    font-family: var(--font-outfit), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.loadingWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: $brand-secondary;
}

.mainWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filterOptionsWrapper {
    select {
        margin: 10px;
        width: 275px;

        @media (max-width: 360px) {
            margin-left: 0px;
            margin-right: 0px;
            width: 100%;
        }
    }
}

.gamesWrapper,
.teamsWrapper,
.messageWrapper,
.compareWrapper {
    min-height: 20rem;
}

.teamCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 10px;
    background-color: #fff;
    font-size: 1.1rem;
    border-radius: 0.75rem;
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07), 0 10px 20px -2px rgba(0, 0, 0, 0.04);

    @media (max-width: 767px) {
        margin-left: 0px;
        margin-right: 0px;
    }

    .logoWrapper {
        height: 100px;
        width: 100px;
        overflow: hidden;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .teamRecordsWrapper {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .teamRecordHeading {
        text-decoration: underline;
    }
}
